@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoPub+Batang&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* AnonymousPro font - typewriter font */
@font-face {
  font-family: "anonymous";
  src: url("/fonts/AnonymousPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
/*
@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.circle {
  display: flex;
  width: 190px;
  height: 190px;
  background-color: white;
	border: 5px #6CFCEC solid;
	border-radius: 50%;
  animation: float 6s ease-in-out infinite;
}
*/

/*
---break---
*/

@layer base {
  .theme {
    --animate-blink-cursor: blink-cursor 1.2s step-end infinite;
  }
}

/*
---break---
*/

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

/*
---break---
*/

@theme inline {
  @keyframes blink-cursor {
  0%, 49% {
    opacity: 1;
    }
  50%, 100% {
    opacity: 0;
    }
  }
}