@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "myfont";
    src: url("./assets/w95fa.woff2") format("woff2");
  }

  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  :root {
    --radius: 0.5rem;
    
    /* Logo colors - light mode */
    --logo-primary: #6dfdea;
    --logo-secondary: #01c0cc;
    --logo-tertiary: #28979b;
    
    /* Branch colors - light mode */
    --branch-primary: #6dfdea;
    --branch-secondary: #01c0cc;
    --branch-tertiary: #28979b;
  }
  
  .dark {
    /* Logo colors - dark mode */
    --logo-primary: #66cae0;
    --logo-secondary: #2b67e1;
    --logo-tertiary: #2a42d3;
    
    /* Branch colors - dark mode */
    --branch-primary: #66cae0;
    --branch-secondary: #2b67e1;
    --branch-tertiary: #2a42d3;
  }
}

#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  left: 50px;
  top: 0;
  width: 10%;
  z-index: 10000;
}

#mlh-trust-badge img {
  width: 100%;
}
