@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "myfont";
    src: url("./assets/w95fa.woff2") format("woff2");
  }

  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  :root {
    --radius: 0.5rem;

    /* Logo colors */
    --logo-primary: #6dfdea;
    --logo-secondary: #01c0cc;
    --logo-tertiary: #28979b;

    /* Branch colors */
    --branch-primary: #6dfdea;
    --branch-secondary: #01c0cc;
    --branch-tertiary: #28979b;
  }
  .text-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: white; /* Optional: Sets the inner text color */
  }
  /* You can add more sizes/colors as needed */
  .text-stroke-2 {
    -webkit-text-stroke-width: 2px;
  }

  /* Grid backgrounds */
  .grid-background {
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
  }

  .grid-background-light {
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, #e5e7eb 1px, transparent 1px),
        linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
  }

  .grid-background-sm {
    background-size: 20px 20px;
    background-image:
        linear-gradient(to right, #374151 1px, transparent 1px),
        linear-gradient(to bottom, #374151 1px, transparent 1px);
  }

  .grid-background-sm-light {
    background-size: 20px 20px;
    background-image:
        linear-gradient(to right, #e5e7eb 1px, transparent 1px),
        linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
  }
}

#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  left: 1rem;
  top: 0;
  width: 10%;
  z-index: 10000;
}

@media (min-width: 768px) {
  #mlh-trust-badge {
    left: 50px;
  }
}

#mlh-trust-badge img {
  width: 100%;
}
