.page {
  margin: 3%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 3px;
  // text-align:center;
  font-size: 1.4vw;
  // h2{
  // 	font-weight: bold;
  // 	font-size: 6.5vw;
  // 	font-weight: 900;
  // 	font-style: italic;
  // 	color:#dad8ec;
  // }
}

body {
  cursor: url("cursor.png"), auto;
}

a,
button,
input[type="submit"],
input[type="button"],
[role="button"] {
  cursor: url("largercursor.png"), auto !important;
}

.clickable-box {
  cursor: url("largercursor.png"), auto;
}

.wrap {
  perspective-origin: 50% 50%;
}

.svg {
  stroke: #3b3d54;
  position: absolute;
  bottom: -100vh;
  transform-style: preserve-3d;
}

$total: 10;

@for $i from 1 through $total {
  $scale: random(2) - 0.4;

  .svg:nth-child(#{$i}) {
    left: random(120) * 1% - 20;
    animation: raise#{$i} 6+random(15)+s linear infinite;
    animation-delay: random(5) - 5 + s;
    transform: scale(0.3 * $i - 0.6) rotate(random(360) + deg);
    z-index: $i - 7;
    filter: blur($i - 6 + px);

    @keyframes raise#{$i} {
      to {
        bottom: 100vh;
        transform: scale(0.3 * $i - 0.6) rotate(random(360) + deg);
      }
    }
  }
}

.xpBorder {
  @media screen {
    background-image: linear-gradient(to bottom, #b6ddf9, #dfe2e5, #6ba2fe);
    border-width: 1px;
    border-style: solid;
    position: relative;
    border-color: #000;
    color: inherit;
    box-shadow:
      0 -20px 10px -20px rgba(0, 0, 0, 0.5) inset,
      20px 0 10px -20px rgba(0, 0, 0, 0.5) inset;
  }
}

.horizontal-line {
  height: 1px;
  /* Thickness of the line */
  background-color: #585958;
  /* Color of the line */
  margin: 3px 0;
  /* Adjust spacing */
  box-shadow:
    0 -20px 10px -20px rgba(0, 0, 0, 0.5) inset,
    20px 0 10px -20px rgba(0, 0, 0, 0.5) inset;
}

.compStyling {
  @media screen {
    background-color: #e4e3e4;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    position: relative;
    padding: 0.3rem;

    &::before {
      content: "";
      position: absolute;
      inset: 0; // equivalent to top: 0; right: 0; bottom: 0; left: 0;
      border-width: 2px;
      border-style: solid;
      border-right-color: #9c9c9c;
      border-top-color: #9c9c9c;
      border-left-color: #fff;
      border-bottom-color: #fff;
    }

    &:hover {
      background-color: #e4e3e4;
    }

    &:hover {
      background-color: #c2c2c2;

      &::before {
        content: "";
        position: absolute;
        inset: 0; // equivalent to top: 0; right: 0; bottom: 0; left: 0;
        border-width: 2px;
        border-style: solid;
        border-right-color: #fff;
        border-top-color: #fff;
        border-left-color: #797878;
        border-bottom-color: #797878;
      }
    }
  }
}

.submitBtn {
  box-shadow: rgb(0, 0, 0) -2px 2px 4px -0.5px;

  &:focus {
    // background-image: linear-gradient(to top, #b6ddf9, #dfe2e5, #6ba2fe);
    box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 6px 0px;
    transform: translateY(2px);
    transform: translateX(-2px);
  }

  &:hover {
    background-image: linear-gradient(to bottom,
        rgba(182, 221, 249, 0.5),
        rgba(224, 227, 230, 0.5),
        rgba(107, 162, 254, 0.5));
  }
}
